# Python
__pycache__/
*.py[cod]
*.sqlite3
.venv/
venv/
env/
*.log

# Django
media/
staticfiles/
.env

# Node / Next.js
node_modules/
.next/
out/
dist/
.env.local
.env*.local
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
