option_settings:
  aws:elasticbeanstalk:application:environment:
    USE_S3_MEDIA: "true"
    AWS_STORAGE_BUCKET_NAME: "sportspot-media-982190581643"
    AWS_S3_REGION_NAME: "us-east-1"
    AWS_S3_SIGNED_URL_TTL: "3600"

container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
